{% extends 'base2.html.twig' %}

{% block title %}New Rendezvous{% endblock %}

{% block body %}
    <h1>Create new Rendezvous</h1>

    {{ include('rendezvous/_form.html.twig') }}

    <a href="{{ path('rendezvous_index') }}">back to list</a>
{% endblock %}
